<footer class="footer-container">
    <div class="container">
        <div class="footer">
            <div class="social">
                <a href="https://www.facebook.com/OSDirect/" target="_blank" class="social__item"><i class="icon-facebook"></i></a>
                <!-- <i href="#" class="social__item"><i class="icon-twitter"></i></a> -->
                <a class="social__contact" href="mailto:info@osdirect.com.ua">info@osdirect.com.ua</a>
                <a class="social__contact" href="tel:+38 044 490 90 88">+38 044 490 90 88</a>
            </div>
            <div class="copyright">
                <span class="copyright__text">Powered by</span>
                <a href="/" class="copyright__logo">
                    <img src="/assets/img/osd_logo.png" alt="Logo">
                </a>
            </div>
        </div>
    </div>
</footer>
