@import "variables";
@import "mixins";

.footer-container {
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: rgba(#000, 0.7);
}

.footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {

    &__item {
        @include font(18px);
        color: #fff;

        &:not(:last-child) {
            margin-right: 75px;
        }
    }
}

.copyright {
    display: flex;
    align-items: center;

    &__text {
        @include font(8px, 100);
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-right: 30px;
    }

    &__logo {
        height: 20px;
        display: block;

        img {
            height: 100%;
        }
    }
}
