<footer class="footer-container">
    <div class="container">
        <div class="footer">
            <div class="social">
                <a href="#" class="social__item"><i class="icon-facebook"></i></a>
                <a href="#" class="social__item"><i class="icon-twitter"></i></a>
            </div>
            <div class="copyright">
                <span class="copyright__text">Powered by</span>
                <a href="/" class="copyright__logo">
                    <img src="/assets/img/osd_logo.png" alt="Logo">
                </a>
            </div>
        </div>
    </div>
</footer>
