<div class="page-block-container">
  <div class="page-block-bg"></div>

  <ng-container *appShellMedia="{type: 'below', width: 1080}">
    <app-rush-slider *ngIf="sliderLoad" (init)="sliderInit($event)" [config]="sliderConfig">
      <app-rush-slide *ngFor="let slide of data?.slide">
        <div class="page-block">
          <div class="title" *ngIf="slide?.title">{{slide?.title}}</div>
          <div class="images-container">
            <ng-container *ngIf="slide?.slide_content[0]">
              <img class="left-img small" *ngIf="slide?.slide_content[0]?.small_img" [src]="slide?.slide_content[0]?.small_img.url" alt="">
              <img class="left-img big" *ngIf="slide?.slide_content[0]?.big_img" [src]="slide?.slide_content[0]?.big_img.url" alt="">
            </ng-container>

            <ng-container *ngIf="slide?.slide_content[1]">
              <img class="right-img small" *ngIf="slide?.slide_content[1]?.small_img" [src]="slide?.slide_content[1]?.small_img.url" alt="">
              <img class="right-img big" [ngStyle]="{'right': header.isIE ? '35%' : 'none'}" *ngIf="slide?.slide_content[1]?.big_img" [src]="slide?.slide_content[1]?.big_img.url" alt="">
            </ng-container>
          </div>
        </div>
      </app-rush-slide>
    </app-rush-slider>

    <div class="slider-controls">
      <div class="slider-controls__btn prev" (click)="slider.prevSlide()"><i class="icon-arrow"></i></div>
      <div class="slider-controls__btn next" (click)="slider.nextSlide()"><i class="icon-arrow"></i></div>
    </div>

    <div class="pagination" *ngIf="slider">
      <span class="pagination__link" *ngFor="let slide of slider.slideList; let i = index;" (click)="slider.goToSlide(i)" [ngClass]="{active: i == slider.currentSlide}">{{ i + 1 }}</span>
    </div>
  </ng-container>

  <ng-container *appShellMedia="{type: 'above', width: 1080}">
    <div class="slide-list" *ngIf="sliderLoad">
      <div class="page-block" *ngFor="let slide of data?.slide">
        <div class="title" *ngIf="slide?.title">{{slide?.title}}</div>
        <div class="images-container">
          <ng-container *ngIf="slide?.slide_content[0]">
            <img class="left-img small" *ngIf="slide?.slide_content[0]?.small_img" [src]="slide?.slide_content[0]?.small_img.url" alt="">
            <img class="left-img big" *ngIf="slide?.slide_content[0]?.big_img" [src]="slide?.slide_content[0]?.big_img.url" alt="">
          </ng-container>

          <ng-container *ngIf="slide?.slide_content[1]">
            <img class="right-img small" *ngIf="slide?.slide_content[1]?.small_img" [src]="slide?.slide_content[1]?.small_img.url" alt="">
            <img class="right-img big" *ngIf="slide?.slide_content[1]?.big_img" [src]="slide?.slide_content[1]?.big_img.url" alt="">
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

</div>
