<div class="page-block-container">
  <div class="page-block-bg" [ngStyle]="data?.background_color_opacity">
    <img class="page-block-bg__img" *ngIf="data?.slide_background?.url" [src]="data?.slide_background?.url" alt="" />
  </div>

  <div class="container page-block">
    <div class="title" *ngIf="data?.title">{{data?.title}}</div>

    <div class="image" [ngStyle]="{'margin-bottom': data?.bottom_text ? '0px' : '30px'}">
      <img *ngIf="data?.photo?.url" [src]="data?.photo?.url" alt="" />
    </div>

    <div class="bottom_text" *ngIf="data?.bottom_text">{{data?.bottom_text}}</div>
  </div>

</div>
