<div class="container">

  <div class="features">
    <div class="feature" *ngFor="let item of countsList" [ngStyle]="{background: item?.color}">
      <div class="feature__title" [countUp]="item?.number" [options]="countOpts">{{item?.number}}{{item?.number_sufix}}</div>
      <span class="feature__label">{{item?.name}}</span>
    </div>
  </div>

  <div class="bottom">
    <div class="bottom--left">
      <div class="bottom__title">{{data?.acf?.case7?.title}}</div>
      <div class="bottom__party" *ngFor="let item of partyList">
        <span class="bottom__party-position">{{item?.position}}</span>{{' '}}<span class="bottom__party-name">{{item?.name}}</span>
      </div>
    </div>
    <div class="bottom--right">
      <div class="bottom__link" [routerLink]="['/' + LANG + '/cases']">
        <i class="icon icon-arrow"></i>
        <div class="bottom__link-more">{{'ЕЩЕ КЕЙС' | translate}}</div>
      </div>
    </div>
  </div>

</div>
