html {
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
}

body {
  font-family: 'Open Sans';
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  max-width: 1120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: visible;
}

.page-top {
  height: 100px;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.page-content {
  position: relative;
  margin-bottom: 220px;
}

.btn {
  border: 0;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  display: inline-block;
  cursor: pointer;
}


.text {
  .list--arrow {
    li {
      list-style: url('/assets/img/content/list-arrow.png');
      padding-bottom: 15px;
    }
  }
}

.form-control {
  display: block;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__label {
    @include font(16px, 100);
    display: block;
    margin-bottom: 15px;
  }

  &__input {
    @include hiddeScrollBar;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0;
    resize: none;
    box-sizing: border-box;
    outline: none;
  }

  &__group {
    display: flex;
    justify-content: space-around;
  }
}

.checkbox {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 35px;
  cursor: pointer;

  &__view {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    transform: translateY(-50%);
    box-sizing: border-box;
    line-height: 21px;
    text-align: center;

    i {
      font-size: 10px;
      opacity: 0;
    }
  }

  &__label {
    text-transform: uppercase;
  }

  &__control {
    display: none;

    &:checked + .checkbox__view {
      i {
        opacity: 1;
      }
    }
  }
}

.block-video {
  height: 100%;
  width: 100%;
  iframe {
    width: 100%;
    height: 60vh;
  }
}
