
// colors
$color-primary: #fff076;
$color-primary-action: #fff8b9;

$color-secondary: #e74c50;
$color-secondary-action: #f0575e;

$color-light: #e1ebeb;

$color-text: #3f3552;
$color-text-action: #78688e;

// fonts
$font-default: 'Montserrat';

// font size
$font-size-default: 14px;

// breakpoints
$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-ld: 1200px;
$bp-xl: 1500px;


$header-height: 87px;
$footer-height: 60px;
$content-height: calc(100vh - #{($header-height + $footer-height)});
