<div class="page-block-container">
  <img class="page-block-bg" src="https://media1.s-nbcnews.com/j/newscms/2018_25/2471721/180620-jurassic-world-mn-1330_c1af24deda9ecff61f0d63705113b930.fit-760w.jpg" alt="">
  <div class="page-block left">
      <div class="text-block">
        <div class="text-block__title">Цели проекта:</div>
        <div class="text-block__list">
            <div class="text-block__list-item"><i class="icon-arrow"></i>Увеличение узнаваемости бренда</div>
            <div class="text-block__list-item"><i class="icon-arrow"></i>Увеличение прямых продаж</div>
        </div>
      </div>
  </div>
  <div class="page-block right">
    <div class="text-block">
      <div class="text-block__title">Задачи:</div>
      <div class="text-block__list">
        <div class="text-block__list-item"><i class="icon-arrow"></i>Проведение промо узнаваемости бренда</div>
        <div class="text-block__list-item"><i class="icon-arrow"></i>Приведение БД в единый формат</div>
      </div>
    </div>
  </div>
</div>
