
<app-page-layout>
  <div class="page-content">
    <div class="container">
      <div class="case__list">
        <a [routerLink]="[item?.slug]"
        [ngStyle]="{'background-image': 'url('+ item?.data?.small_img +')'}"
        class="case__item" *ngFor="let item of caseList">
          <div class="case__item-title">
            <span [ngStyle]="{'background': item?.data?.small_title_color}">{{item?.data?.small_title}}</span>
          </div>
        </a>
      </div>
      <div class="case__pagination" *ngIf="paginationPages.length > 1">
        <div
          class="case__pagination-link"
          (click)="loadPaginationPage(i + 1)"
          *ngFor="let item of paginationPages; let i = index">{{i + 1}}</div>
      </div>
    </div>
  </div>
</app-page-layout>
