
.link {
    position: absolute;
    display: block;
    width: 220px;
    height: 200px;
    right: 24.9%;
    bottom: 15.65%;
    z-index: 2;
    pointer-events: all;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    transform: translateX(2000px);

    &__title {
        font-size: 28px;
        text-transform: uppercase;
        display: block;
        line-height: 1.8;
    }

    &__description {
        font-size: 14px;
        text-transform: uppercase;
        display: block;
    }
}

.arrow {
    position: absolute;
    font-size: 28px;
    bottom: 10px;
    right: 20px;
}