<div class="services-container">
  <div class="service-item left" [ngStyle]="{'background-color': pageContent?.acf?.left_block?.color}">
    <div class="service-block">
      <div class="service-description" [innerHTML]="pageContent?.acf?.left_block?.name">
      </div>
      <a routerLink="db-monetization" class="more-btn">{{'Узнать больше' | translate}} <i class="icon-arrow"></i></a>
    </div>
  </div>
  <div class="service-item right">
    <div class="service-block">
      <div class="service-description" [innerHTML]="pageContent?.acf?.right_block?.name">
      </div>
      <a routerLink="marketing-integration" class="more-btn">{{'Узнать больше' | translate}} <i class="icon-arrow"></i></a>
    </div>
  </div>
</div>
