<div class="services-container">
  <div class="service-item left">
    <div class="service-block">
      <div class="service-description">
        Монетизация <br>баз <br>данных
      </div>
      <a routerLink="db-monetization" class="more-btn">Узнать больше <i class="icon-arrow"></i></a>
    </div>
  </div>
  <div class="service-item right">
    <div class="service-block">
      <div class="service-description">
        Интегрированные <br>маркетинговые <br>коммуникации 360°, <br>PR и мероприятия.
      </div>
      <a routerLink="marketing-integration" class="more-btn">Узнать больше <i class="icon-arrow"></i></a>
    </div>
  </div>
</div>