<div #scrollWrapper class="carousel">
  <div class="carousel-cell"></div>
</div>

<div class="range-control">
  <div #bar class="bar" [ngStyle]="{width: currentRangeVal + '%'}"></div>
  <div class="dots-bar">
    <div class="dots" *ngFor="let item of dots; let i = index"></div>
  </div>
  <input id="inputRange"
  type="range"
  min="0"
  max="100"
  step="1"
  (change)="setRange($event)"
  [value]="currentRangeVal">
</div>


<div #renderText class="mobile-text" [innerHTML]="html | sanitizeHtml"></div>
