<ng-container *ngIf="slideList.length">
  <app-rush-slider class="slider" [config]="sliderConfig" (init)="sliderInit($event)" *ngIf="sliderLoad">
    <app-rush-slide *ngFor="let slide of slideList">

      <!-- 1 PART -->
      <ng-container *ngIf="slide?.slide_content?.length === 1">
        <div class="page-block-container">
          <img class="page-block-bg" *ngIf="slide?.slide_background?.url" [src]="slide?.slide_background?.url" alt="">
          <div class="page-block full" [ngStyle]="returnBlockStyle(slide?.slide_content[0])">
            <ng-container *ngFor="let content of [slide?.slide_content[0]]">
              <ng-container *ngIf="content.type_content === contentType.TEXT">
                <ng-container *ngTemplateOutlet="text, context: {content: content}"></ng-container>
              </ng-container>
              <ng-container *ngIf="content.type_content === contentType.IMAGE">
                <ng-container *ngTemplateOutlet="image, context: {content: content}"></ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <!-- 2 PARTS -->
      <ng-container *ngIf="slide?.slide_content?.length === 2">
        <div class="page-block-container">
          <img class="page-block-bg" *ngIf="slide?.slide_background?.url" [src]="slide?.slide_background?.url" alt="">
          <div class="page-block left" [ngStyle]="returnBlockStyle(slide?.slide_content[0])">
            <ng-container *ngFor="let content of [slide?.slide_content[0]]">
              <ng-container *ngIf="content.type_content === contentType.TEXT">
                <ng-container *ngTemplateOutlet="text, context: {content: content}"></ng-container>
              </ng-container>
              <ng-container *ngIf="content.type_content === contentType.IMAGE">
                <ng-container *ngTemplateOutlet="image, context: {content: content}"></ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="page-block right" [ngStyle]="returnBlockStyle(slide?.slide_content[1])">
            <ng-container *ngFor="let content of [slide?.slide_content[1]]">
              <ng-container *ngIf="content.type_content === contentType.TEXT">
                <ng-container *ngTemplateOutlet="text, context: {content: content}"></ng-container>
              </ng-container>
              <ng-container *ngIf="content.type_content === contentType.IMAGE">
                <ng-container *ngTemplateOutlet="image, context: {content: content}"></ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </app-rush-slide>
  </app-rush-slider>

  <div class="slider-controls" *ngIf="slideList?.length > 1">
    <div class="slider-controls__btn prev" (click)="slider.prevSlide()"><i class="icon-arrow"></i></div>
    <div class="slider-controls__btn next" (click)="slider.nextSlide()"><i class="icon-arrow"></i></div>
  </div>

  <div class="pagination" *ngIf="slideList?.length > 1">
    <span class="pagination__link" *ngFor="let slide of slider.slideList; let i = index;" (click)="slider.goToSlide(i)" [ngClass]="{active: i == slider.currentSlide}">{{ i + 1 }}</span>
  </div>
</ng-container>

<ng-template #image let-content="content">
  <div class="block-img-container">
    <img [src]="content?.img?.url" class="block-img" alt="">
  </div>
</ng-template>

<ng-template #text let-content="content">
  <div class="text-block">
    <div class="text-block__title">{{ content?.title }}</div>
    <div class="text-block__list-item" *ngFor="let listItem of content?.list">
      <i class="icon-arrow"></i>
      <div [innerHTML]="listItem?.text"></div>
    </div>
  </div>
</ng-template>

