@import 'parts/slide';

.slide-figure {
    top: 0;
    right: 0;
    width: 527px;
    height: 471px;

    &:hover {
        color: #000;

        .block {
            background-color: #fff;

            * {
                color: #000;
            }
        }
    }
}

.block {
    position: absolute;
    visibility: hidden;

    &-1 {
        left: 0;
        top: 60px;
        background-color: #8BBD14;
        z-index: 0;
        width: 194px;
        height: 125px;
        animation: start-part 0.5s forwards;
        animation-delay: 0.1s;
    }

    &-2 {
        @include font(24px);
        text-transform: uppercase;
        box-sizing: border-box;
        padding-left: 100px;
        padding-top: 25px;
        top: 0;
        z-index: 1;
        right: 30px;
        width: 332px;
        height: 227px;
        background-color: #29610D;
        animation: start-part 0.5s forwards;
        animation-delay: 0.2s;
    }

    &-3 {
        top: 150px;
        z-index: 4;
        left: 25px;
        width: 384px;
        height: 112px;
        background-color: #309F1E;
        animation: start-part 0.5s forwards;
        animation-delay: 0.3s;
    }

    &-4 {
        top: 170px;
        z-index: 2;
        right: 0;
        width: 349px;
        height: 191px;
        background-color: #359EAE;
        animation: start-part 0.5s forwards;
        animation-delay: 0.4s;
    }

    &-5 {
        top: 206px;
        z-index: 3;
        right: 70px;
        width: 368px;
        height: 227px;
        background-color: #C9BA00;
        animation: start-part 0.5s forwards;
        animation-delay: 0.5s;
    }

    &-6 {
        top: 112px;
        z-index: 5;
        left: 100px;
        width: 149px;
        height: 71px;
        background-color: #FFEC00;
        animation: start-part 0.5s forwards;
        animation-delay: 0.6s;
    }

    &-7 {
        bottom: 0;
        z-index: 5;
        right: 97px;
        text-transform: uppercase;
        padding: 20px 30px;
        background-color: #629A2B;
        animation: start-part 0.8s forwards;
        animation-delay: 0.7s;

        a {
            color: #fff;
        }
    }
}

.block-img {
    position: absolute;
    width: 251;
    height: 290px;
    z-index: 7;
    bottom: 60px;
    left: 97px;
    animation: start-part 0.2s forwards;
    visibility: hidden;
}