<ng-container *ngFor="let item of sliderList; let i = index;">
  <div *ngIf="currentSlideIndex === i">
    <div class="slogan">
      <div class="slogan__block">
        <span class="slogan__block-text">{{item?.data?.group?.first}}</span>
      </div>
      <div class="slogan__block red">
        <span class="slogan__block-text">{{item?.data?.group?.second}}</span>
      </div>
      <div class="slogan__block">
        <span class="slogan__block-text">{{item?.data?.group?.third}}</span>
      </div>

      <a href="#" class="btn show-all">
        Узнать больше
        <i class="icon icon-arrow"></i>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </a>
    </div>

    <div class="slide-figure">
      <div [ngStyle]="blockStyles" class="block block-1"></div>
      <div [ngStyle]="blockStyles" class="block block-2">NESTLE<br>Абетка<br>харчування</div>
      <div [ngStyle]="blockStyles" class="block block-3"></div>
      <div [ngStyle]="blockStyles" class="block block-4"></div>
      <div [ngStyle]="blockStyles" class="block block-5"></div>
      <div [ngStyle]="blockStyles" class="block block-6"></div>
      <div [ngStyle]="blockStyles" class="block block-7"><a href="#">Смотреть кейс</a></div>
      <img class="block-img" [src]="item?.data?.img?.url" alt="">
    </div>
  </div>
</ng-container>

