<app-clients-layout>
  <div class="container">
    <h1 class="title" [innerHTML]="pageContent?.content?.rendered"></h1>

    <div class="testimonials-container">
      <div class="slider-nav prev" (click)="prev()"><i class="icon-arrow"></i></div>
      <div class="slider-nav next" (click)="next()"><i class="icon-arrow"></i></div>
      <div class="testimonials">
        <div class="testimonials-track js-track">

          <div class="testimonial js-testimonial"
          *ngFor="let item of pageContent?.acf?.reviews; let last = last;"
          [attr.ready]="last ? false : initTestimonialsSlider()">
            <p class="testimonial__text">{{item?.review}}</p>
            <strong class="testimonial__author">{{item?.name}}</strong>
            <span class="testimonial__author-position">{{item?.position}}</span>
          </div>

        </div>
      </div>
      <div class="pagination">
        <span class="pagination__link" *ngFor="let slide of pagination; let i = index;" (click)="goTo(i)" [ngClass]="{active: i == activeSlide}">{{ i + 1 }}</span>
      </div>
    </div>

    <div class="brands-container">
      <img class="brand-item" [src]="item?.data?.img?.url" [alt]="item?.data?.img?.alt" *ngFor="let item of clientImgList">
    </div>
  </div>
</app-clients-layout>
