@import "variables";
@import "mixins";


.page-content {
  height: $content-height--no-footer;
  margin-bottom: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include hiddeScrollBar();
    overflow-y: visible;
  }

  @include media-below($bp-sm) {
    overflow: auto;
    height: $content-height--no-footer-mob;
    .container {
      display: block;
    }
  }
}

.title {
    @include font(24px, 400);
    margin: 20px 0 20px 0;

    @include media-below($bp-ld) {
        padding: 0 20px;
        box-sizing: border-box;
        color: #EC008C;
    }
}

.testimonials-container {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 80px 20px 80px;
    margin-bottom: 20px;
    color: #000;
    position: relative;
    height: 40%;
    max-height: 450px;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-below($bp-ld) {
      height: auto;
      max-height: unset;
      min-height: unset;
      padding: 20px 20px 35px 20px;
    }
}

.testimonials {
    position: relative;
    overflow: hidden;

    &-track {
        transition: 0.5s;
        display: flex;
        height: 100%;
    }

    .testimonial {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 50px;
        flex-shrink: 0;
        &__wrap {
          display: flex;
          flex-direction: row;
          height: 100%;
        }
        &__img {
          height: 80%;
          max-width: 150px;
          max-height: 174px;
        }
        &__pdf {
          background-color: #00a4ef;
          color: #fff;
          text-align: center;
          padding: 6px;
          font-size: 16px;
          border-radius: 20px;
          text-transform: uppercase;
        }
        &__client {
          &.left {
            padding-right: 30px;
          }
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
        }
        &__quote {
            display: none;

            @include media-below($bp-ld) {
                display: inline;
            }
        }
        &__text {
          @include height-below($bp-height) {
            font-size: 12px;
          }
        }
        &__author {
            display: block;
            @include media-below($bp-ld) {
                color: #9B9B9B;
                font-weight: normal;
            }
            &-position {
                display: block;
                margin-top: 10px;
                @include media-below($bp-ld) {
                    color: #9B9B9B;
                }
            }
        }
        @include media-below($bp-ld) {
          padding: 0;
          &__wrap {
            flex-direction: column;
          }
          &__client {
            &.left {
              padding-right: 0px;
              flex-direction: row;
              align-items: flex-end;
            }
          }
      }
    }
}

.brands-container {
  text-align: center;
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  &.top, &.bottom {
    height: 25%;
  }
  justify-content: space-around;
  &.loaded {
    .brand-item {
      transform: translateX(0%);
      transition: 0.9s transform;
    }
  }
  .brand-item {
    max-height: 50px;
    height: 100%;
    margin: 10px 30px;
    transform: translateX(200vw);
    transition: 0.9s transform;
    @include media-below($bp-ld) {
      transform: unset;
      transition: unset;
    }
  }
}

.pagination {
    margin-top: 20px;
    text-align: center;
    color: #9B9B9B;

    @include media-below($bp-ld) {
        margin-top: 40px;
    }

    &__link {
        margin: 0 10px;
        cursor: pointer;

        &.active {
            color: #000;
            cursor: default;
        }
    }
}

.slider-nav {
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(#000, 0.3);
    color: #fff;
    z-index: 9;
    cursor: pointer;

    @include media-below($bp-ld) {
        top: unset;
        transform: unset;
        bottom: 20px;
    }

    &.prev {
        left: 20px;
        transform: translateY(-50%) rotateZ(180deg);

        @include media-below($bp-ld) {
            transform: rotateZ(180deg);
        }
    }

    &.next {
        right: 20px;
    }

    &:hover {
        background-color: rgba(#000, 0.2);
    }
}
