@import "variables";
@import "mixins";

.page-block-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;

  @include media-below($bp-ld) {
    // height: auto;
  }
}

.page-block {
    width: 50%;
    height: 100%;
    color: #fff;
    padding-top: $header-height;
    box-sizing: border-box;
    position: relative;
    @include media-below($bp-sm) {
      padding-top: $header-height-mobile;
    }

    @include height-below($bp-height) {
        padding-top: 95px;
    }

    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.right {
        background-color: rgba(#000, 0.3);
        display: flex;
        justify-content: flex-start;
        margin-left: auto;

        .text-block,
        .client {
          padding-left: 100px;
        }

        .text-block {
          left: 0px;
          margin-top: 50px;

            &__title {
                @include font(42px, 600);

                @include height-below($bp-height) {
                  @include font(30px);
                }
                @include media-below($bp-sm) {
                  @include font(30px);
                }
            }
        }
    }

    &.left {
        background-color: rgba(#000, 0.8);
        display: flex;
        justify-content: flex-end;

        .text-block {
          right: 0px;
          padding-right: 70px;
        }
    }
    @include media-below($bp-ld) {
      width: 100%;
    }
    @include media-below($bp-sm) {
      &.left {
        .text-block,
        .client {
          padding: 20px;
          padding-left: 20px;
        }
      }
      &.right {
        .text-block {
          padding: 20px;
          padding-left: 20px;
        }
      }

    }
}

.text-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;

    &__title {
        @include font(56px);
        text-transform: uppercase;

        @include media-below($bp-ld) {
            @include font(24px);
        }
    }

    &__list {
        margin-top: 20px;

        @include height-below($bp-height) {
            margin-top: 5px;
        }

        &-title {
            @include font(32px);
            text-transform: uppercase;
            margin-bottom: 20px;

            @include height-below($bp-height) {
                @include font(22px);
                margin-bottom: 10px;
            }

            @include media-below($bp-ld) {
                @include font(18px);
            }
        }

        &-item {
            @include font(20px, 400);
            margin-bottom: 15px;
            padding-left: 50px;
            box-sizing: border-box;
            position: relative;
            max-width: 480px;

            @include height-below($bp-height) {
                @include font(14px);
                margin-bottom: 10px
            }

            @include media-below($bp-ld) {
                @include font(12px);
            }

            i {
                @include font(14px);
                margin-right: 30px;
                position: absolute;
                left: 0;
                top: 3px;

                @include media-below($bp-ld) {
                    @include font(12px);
                }
            }
        }
    }
}

.look-case-btn {
    background-color: rgba(#aaa, 0.5);
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 180px;
    position: relative;
    margin-top: 80px;
    transition: 0.2s background-color;

    @include height-below($bp-height) {
        width: 150px;
        height: 140px;
        margin-top: 40px;
    }

    &:hover {
        background-color: rgba(#eee, 0.3);
    }

    i {
        @include font(24px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        @include height-below($bp-height) {
            @include font(20px);
        }
    }

    &__label {
        text-transform: uppercase;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    @include media-below($bp-ld) {
      display: none;
    }
}
