<div class="page-block-container">
  <div class="page-block-bg">
    <img class="page-block-bg__img" *ngIf="data?.slide_background?.url" [src]="data?.slide_background?.url" alt="" />
  </div>

  <div class="page-block left" *ngIf="data?.block_direction_left" [ngStyle]="data?.background_color_opacity">
    <div class="client" *ngIf="data?.client">{{data?.client}}</div>
    <div class="text-block">
      <div class="text-block__title" *ngIf="data?.title">{{data?.title}}</div>
      <div class="text-block__list">
        <div class="text-block__list-title">{{ 'Решения:' | translate }}</div>
        <div class="text-block__list-item" *ngFor="let listItem of data?.list">
          <i class="icon-arrow"></i>
          <div [innerHTML]="listItem?.text"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-block right" *ngIf="!data?.block_direction_left" [ngStyle]="data?.background_color_opacity">
    <div class="client" *ngIf="data?.client">{{data?.client}}</div>
    <div class="text-block">
      <div class="text-block__title" *ngIf="data?.title">{{data?.title}}</div>
      <div class="text-block__list">
        <div class="text-block__list-title">{{ 'Задачи:' | translate }}</div>
        <div class="text-block__list-item" *ngFor="let listItem of data?.list">
          <i class="icon-arrow"></i>
          <div [innerHTML]="listItem?.text"></div>
        </div>
      </div>
      <div class="look-case-btn" (click)="slider.nextSlide()">
        <i class="icon-arrow"></i>
        <span class="look-case-btn__label">{{ 'Смотреть кейс' | translate }}</span>
      </div>
    </div>
  </div>

</div>
