<ng-container>
  <div class="container">
    <div class="content-container">
      <div class="heading">
        <h1 class="heading__title">Фотоотчет</h1>
        <div class="heading__description" [innerHTML]="data?.acf?.case6?.text_gallery">

        </div>
      </div>

      <app-rush-slider class="slider" [config]="sliderConfig" (init)="sliderInit($event)" *ngIf="sliderLoad">
        <app-rush-slide  *ngFor="let item of slideList">
          <div class="grid">
            <div class="grid__item" *ngFor="let slide of item?.slide">
              <img [src]="slide?.img?.url" [alt]="slide?.img?.alt">
            </div>
          </div>
        </app-rush-slide>
      </app-rush-slider>

      <div class="slider-controls">
        <div class="slider-controls__btn prev" (click)="slider.prevSlide()"><i class="icon-arrow"></i></div>
        <div class="slider-controls__btn next" (click)="slider.nextSlide()"><i class="icon-arrow"></i></div>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="slider">
    <span class="pagination__link" *ngFor="let slide of slider.slideList; let i = index;" (click)="slider.goToSlide(i)" [ngClass]="{active: i == slider.currentSlide}">{{ i + 1 }}</span>
  </div>
</ng-container>
