
<app-blog-layout>
  <div class="page-top">
    <div class="container">
      <div class="page-top__title">
        <h1>Лояльные маркетинг-манипуляции

            без материального стимулирования</h1>
      </div>
      <div class="page-top__author">
        <div class="page-top__author-name">ЛИДИЯ ГАВРИЩУК</div>
        <div class="page-top__author-position">Маркетинг-директор</div>
        <div class="page-top__author-img"></div>
      </div>
    </div>
  </div>



  <div class="page-content">
    <div class="container">
      sdgsgsgsgseg
    </div>
  </div>
</app-blog-layout>
