<app-page-layout>

  <div class="page-content">
    <div class="container">
      <form
      [formGroup]="form"
      (ngSubmit)="sendEmail()"
      class="contact-form">
        <h1 class="title">{{pageContent?.acf?.form_titles?.title1}}<br>{{pageContent?.acf?.form_titles?.title2}}</h1>
        <div class="form-control">
          <span class="form-control__label">{{pageContent?.acf?.form_fields?.lable1}}</span>
          <textarea class="form-control__input" formControlName="question"></textarea>
        </div>
        <!-- <div class="form-control">
          <span class="form-control__label">{{pageContent?.acf?.form_fields?.lable2}}</span>
          <div class="form-control__group checkbox-group">
            <label class="checkbox">
              <input type="checkbox" formControlName="direction1" class="checkbox__control">
              <div class="checkbox__view"><i class="icon-arrow"></i></div>
              <span class="checkbox__label">{{pageContent?.acf?.form_fields?.check_box_lable1}}</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" formControlName="direction2" class="checkbox__control">
                <div class="checkbox__view"><i class="icon-arrow"></i></div>
                <span class="checkbox__label">{{pageContent?.acf?.form_fields?.check_box_lable2}}</span>
              </label>
          </div>
        </div> -->
        <div class="actions">
          <ng-container *appShellNoSSR>
            <recaptcha
            *ngIf="!captchaSuccess"
            [siteKey]="'6LckLtkUAAAAAHRV2gcBGBU3HNQbKFkMcSu29chY'"
            (reset)="handleReset()"
            (expire)="handleExpire()"
            (load)="handleLoad()"
            (success)="handleSuccess($event)"
            [useGlobalDomain]="false"
            [size]="size"
            [hl]="lang"
            [theme]="theme"
            [type]="type"
            formControlName="recaptcha">
            </recaptcha>
          </ng-container>
          <button class="btn send" *ngIf="!emailSuccess && !sending && captchaSuccess" type="submit">{{pageContent?.acf?.form_fields?.button_text}} <i class="icon-arrow"></i></button>
          <button class="btn sending" *ngIf="sending && !emailSuccess" disabled type="button"><img src="/assets/img/content/button_loader.gif" alt=""></button>
          <button class="btn ok" *ngIf="emailSuccess" type="button">{{'Сообщение отправлено' | translate}}</button>
        </div>
      </form>

      <div class="contact-info mob-hidden">
        <div class="info-block">
          <h3 class="subtitle">{{pageContent?.acf?.footer_contacts?.call_us}}</h3>
          <div class="numbers">
            <div><a [href]="'tel:' + pageContent?.acf?.footer_contacts?.phone_num1">{{pageContent?.acf?.footer_contacts?.phone_num1}}</a></div>
            <div><a [href]="'tel:' + pageContent?.acf?.footer_contacts?.phone_num2">{{pageContent?.acf?.footer_contacts?.phone_num2}}</a></div>
          </div>
          <h3 class="subtitle">{{pageContent?.acf?.footer_contacts?.letter_us}}</h3>
          <div><a [href]="'mailto:' + pageContent?.acf?.footer_contacts?.email"><i>{{pageContent?.acf?.footer_contacts?.email}}</i></a></div>
        </div>
        <div class="info-block">
          <div class="map-control plus" (click)="zoomIn()"></div>
          <div class="map-control minus" (click)="zoomOut()"></div>
          <div class="address">
            <img src="/assets/img/new-logo.png" class="logo" alt="">
            <div>{{pageContent?.acf?.footer_contacts?.adress}}</div>
          </div>
        </div>
      </div>

      <div class="contact-info desktop-hidden">
        <h3 class="subtitle mob">Как нас найти</h3>
        <div class="info-block">
          <div>{{pageContent?.acf?.footer_contacts?.adress}}</div>
          <div><a [href]="'tel:' + pageContent?.acf?.footer_contacts?.phone_num1">{{pageContent?.acf?.footer_contacts?.phone_num1}}</a></div>
          <div><a [href]="'tel:' + pageContent?.acf?.footer_contacts?.phone_num2">{{pageContent?.acf?.footer_contacts?.phone_num2}}</a></div>
          <div><a [href]="'mailto:' + pageContent?.acf?.footer_contacts?.email"><i>{{pageContent?.acf?.footer_contacts?.email}}</i></a></div>
          <div class="map-control plus" (click)="zoomIn()"></div>
        </div>
        <div class="info-block">
          <div class="map-control minus" (click)="zoomOut()"></div>
          <img src="/assets/img/new-logo.png" class="logo" alt="">
        </div>
        <agm-map *appShellMedia="{type: 'above', width: 1080}" class="map" [latitude]="50.45390" [longitude]="30.5190" [zoom]="zoom" [styles]="mapStyle" [disableDefaultUI]="true" [zoomControl]="false">
          <agm-marker [iconUrl]="'/assets/svg/marker-mob.svg'" [latitude]="50.45466" [longitude]="30.5238"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <agm-map *appShellMedia="{type: 'below', width: 1080}" class="map" [latitude]="50.46180" [longitude]="30.5050" [zoom]="zoom" [styles]="mapStyle" [disableDefaultUI]="true" [zoomControl]="false">
    <agm-marker [iconUrl]="'/assets/svg/marker.svg'" [latitude]="50.45466" [longitude]="30.5238"></agm-marker>
  </agm-map>
</app-page-layout>
