@import 'variables';
@import 'mixins';

.map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;

    @include media-below($bp-ld) {
        position: absolute;
        bottom: -30px;
        top: unset;
        height: 320px;
    }
}

.page-content {
  height: $content-height--no-footer;
  margin-bottom: 0;
  overflow: auto;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    pointer-events: none;
    @include hiddeScrollBar();
  }

  @include media-below($bp-sm) {
    height: $content-height--no-footer-mob;
    .container {
      display: block;
      position: static;
      pointer-events: initial;
    }
  }
}

.contact-form {
    margin-top: 30px;
    background-color: rgba(#090909, 0.8);
    box-sizing: border-box;
    padding: 30px 15px;
    pointer-events: all;

    @include media-below($bp-ld) {
        margin-top: 0;
        background-color: #000;
    }

    .title {
        @include font(32px, 100);
        margin: 0 0 30px 0;

        @include media-below($bp-ld) {
            display: none;
        }
    }
}

.checkbox-group {
    padding-left: 150px;

    @include media-below($bp-ld) {
        padding: 0;
        display: block;
    }

    .checkbox {
        margin: 0 20px;

        @include media-below($bp-ld) {
            margin: 30px 0;
        }
    }
}

.actions {
    text-align: center;
}

.send {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.4s;
    background-color: #8001F9;

    @include media-below($bp-ld) {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 0;
    }

    &:hover {
        opacity: 0.9;

        i {
            transform: translateX(5px);
        }
    }

    i {
        position: relative;
        top: 1px;
        font-size: 10px;
        transition: 0.3s;
        display: inline-block;
        margin-left: 10px;
        font-size: 16px;

        @include media-below($bp-ld) {
            display: none;
        }
    }
}

.ok {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.4s;
  background-color: #13c73a;
}

.sending {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: default;
  img {
    height: 30px;
  }
}

.contact-info {
    display: flex;
    margin: 30px 0;

    @include media-below($bp-ld) {
        position: relative;
        box-sizing: border-box;
        padding: 50px 10px 0 10px;
        width: 100%;
        z-index: 99;
        height: 260px;
    }

    .subtitle {
        @include font(22px, 100);
        margin: 0 0 15px 0;

        &.mob {
            position: absolute;
            width: 100%;
            text-align: center;
            top: -10px;
            left: 0;
        }
    }

    .numbers {
        margin-bottom: 15px;
    }
}

.info-block {
    width: 50%;
    position: relative;
    z-index: 99;
    pointer-events: all;

    @include media-below($bp-ld) {
        font-size: 12px;
    }

    a {
        color: #fff;
    }

    .address {
        position: absolute;
        width: 230px;
        bottom: 0;
        right: 20px;
    }

    .logo {
        width: 100%;

        @include media-below($bp-ld) {
            padding-left: 10px;
            box-sizing: border-box;
            position: absolute;
            bottom: 125px;
            right: 0;
            max-width: 130px;
        }
    }

    .map-control {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #fff;
        cursor: pointer;

        @include media-below($bp-ld) {
            top: 100%;
            margin-top: -50px;
            width: 42px;
            height: 42px;
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-below($bp-ld) {
                width: 25px;
                height: 2px;
            }
        }

        &:after {
            transform: translate(-50%, -50%) rotateZ(90deg);
        }

        &.plus {
            @include media-below($bp-ld) {
                right: 10px;
            }
        }

        &.minus {
            top: 40px;

            @include media-below($bp-ld) {
                right: unset;
                left: 10px;
                top: 100%;
            }

            &:after {
                display: none;
            }
        }
    }
}

.desktop-hidden {
    @include media-above($bp-ld) {
        display: none;
    }
}

.mob-hidden {
    @include media-below($bp-ld) {
        display: none;
    }
}

recaptcha {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}
