@import 'variables';
@import 'mixins';


.page-content {
  height: $content-height--no-footer;
  margin-bottom: 0;
  @include media-below($bp-sm) {
    height: $content-height--no-footer-mob;
  }
}



.logo {
    text-align: center;
    margin-top: 20px;
    height: 15%;
    &__img {
        height: 100%;
        width: auto;
        max-width: 80%;
        object-fit: contain;
    }
    @include media-below($bp-ld) {
      margin-top: 10px;
      &__img {
        width: 100%;
    }
  }
}

.features {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .feature {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &:nth-child(1) {
            background: #EC008C;
        }

        &:nth-child(2) {
            background: #16467F;
        }

        &:nth-child(3) {
            background: #8001F9;
        }

        &__title {
            @include font(100px, 100);
            font-style: italic;
            line-height: 1.1;
        }

        &__label {
            text-transform: uppercase;
        }
    }
}

.description {
    @include font(28px, 100);
    margin-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.more {
  display: none;
}

.container {
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include hiddeScrollBar();
  @include media-below($bp-ld) {
    justify-content: unset;
    .logo {
      order: 1;
    }
    .features {
      order: 3;
      margin-top: 0;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      .feature {
        width: 200px;
        height: 200px;
        margin-bottom: -30px;
        &__title {
          @include font(73px, 700);
        }
        &__label {
          font-size: 100%;
        }

      }
    }
    .description {
      order: 2;
      margin-top: 0;
      @include font(16px, 400);
      line-height: 22px;
    }
    .more {
      position: relative;
      display: block;
      height: 50px;
      order: 4;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      cursor: pointer;
      @include font(14px, 400);
      @include flex(column, center, center);
      i {
        position: absolute;
        right: 14px;
      }
    }
  }

}
