<app-page-layout>
  <div class="container">
    <div class="logo">
      <img class="logo__img" src="/assets/svg/logo.svg" alt="">
    </div>

    <div class="features">
      <div class="feature">
        <div class="feature__title">500+</div>
        <span class="feature__label">Сотрудников</span>
      </div>

      <div class="feature">
        <div class="feature__title">250+</div>
        <span class="feature__label">Клиентов в год</span>
      </div>

      <div class="feature">
        <div class="feature__title">20</div>
        <span class="feature__label">Лет на рынке</span>
      </div>
    </div>

    <div class="description">
      Рекламное агентство из Киева. Команда мечтателей, которые собрались вместе, чтобы изменить к лучшему мир  и будущее бизнеса наших единомышленников
    </div>
  </div>
</app-page-layout>