<div class="slogan">
  <div class="slogan__block">
    <span class="slogan__block-text">Впечетляем</span>
  </div>
  <div class="slogan__block red">
    <span class="slogan__block-text">Вовлекаем</span>
  </div>
  <div class="slogan__block">
    <span class="slogan__block-text">Продаем</span>
  </div>

  <a href="#" class="btn show-all">
    Узнать больше 
    <i class="icon icon-arrow"></i>
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
  </a>
</div>