<div class="header-container" [ngClass]="{menu: sidebar.isOpen, 'no-title': !header.title}">
    <div class="container">
        <header class="header">
            <a href="/" class="logo">
              <div class="logo__part--no-animation">
                <div class="left">
                  <div class="overlay">
                    <img src="/assets/svg/logo-left.svg" alt="">
                  </div>
                </div>
                <img src="/assets/svg/fill_1.svg" alt="">
                <div class="right">
                  <div class="overlay">
                    <img src="/assets/svg/logo-right.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="logo__part--mobile">
                  <img src="/assets/svg/fill_1.svg" alt="Logo">
              </div>
            </a>

            <div class="page-title" (click)="header?.routeToCategory()">
              {{ header.title }}
            </div>

            <div class="header__group--rt">

              <div class="langs">
                <ul class="langs__list" *ngIf="langList?.length">
                  <li
                  class="langs__item"
                  *ngFor="let item of langList"
                  (click)="changeLanguage(item)"
                  >{{ item }}</li>
                  <li class="langs__item active" [ngStyle]="{'left': langAnimation()}"></li>
                </ul>
              </div>

              <button class="menu-btn" *ngIf="!sidebar.isOpen" (click)="sidebar.open()">
                <i class="icon-menu"></i>
              </button>

              <button class="menu-btn" *ngIf="sidebar.isOpen" (click)="sidebar.close()">
                <i class="icon-close"></i>
              </button>
            </div>
        </header>
    </div>
</div>
