<div class="header-container" [ngClass]="{menu: sidebar.isOpen, 'no-title': !header.title}">
    <div class="container">
        <header class="header">
            <a href="/" class="logo">
              <div class="logo__part--no-animation">
                  <img src="/assets/img/content/osd_logo_no-animation.png" alt="Logo">
              </div>
              <div class="logo__part--animation">
                  <img src="/assets/img/content/osd_logo_animation.gif" alt="Logo">
              </div>
              <div class="logo__part--mobile">
                  <img src="/assets/svg/fill_1.svg" alt="Logo">
              </div>
            </a>

            <div class="page-title">
              {{ header.title }}
            </div>

            <div class="header__group--rt">

              <div class="langs">
                <ul class="langs__list">
                  <li
                  class="langs__item"
                  [ngClass]="{'active': item === LANG}"
                  *ngFor="let item of langList"
                  (click)="changeLanguage(item)"
                  >{{ item }}</li>
                </ul>
              </div>

              <button class="menu-btn" *ngIf="!sidebar.isOpen" (click)="sidebar.open()">
                <i class="icon-menu"></i>
              </button>

              <button class="menu-btn" *ngIf="sidebar.isOpen" (click)="sidebar.close()">
                <i class="icon-close"></i>
              </button>
            </div>
        </header>
    </div>
</div>
