<div class="header-container">
    <div class="container">
        <header class="header">
            <a href="/" class="logo">
                <img src="/assets/svg/fill_1.svg" alt="Logo">
            </a>

            <div class="header__group--rt">

              <div class="langs">
                <ul class="langs__list">
                  <li
                  class="langs__item"
                  [ngClass]="{'active': item.code === LANG}"
                  *ngFor="let item of langList"
                  (click)="changeLanguage(item.code)"
                  >{{ item.code }}</li>
                </ul>
              </div>

              <button class="menu-btn">
                <img src="/assets/svg/menu-btn_2.svg" alt="">
              </button>
            </div>
        </header>
    </div>
</div>
