@import "mixins";
@import "variables";

.header {
  @include flex(row, space-between, center);
  position: relative;
  height: 100%;

  @include media-below($bp-ld) {
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    height: auto;
  }

    &-container {
      height: $header-height;
      background-color: rgba(0, 0, 0, 0.27);
      display: block;
      z-index: 1000;
      position: relative;
      transition: 0.3s;
      width: 100%;

      @include media-below($bp-ld) {
        height: $header-height-mobile;
        background-color: #000;

        &.no-title {
          height: 65px;
        }
      }

      &.menu {
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;

        .page-title {
          opacity: 0;
        }
      }
    }
    .logo {
      display: flex;
      flex-direction: row;
      height: 37px;
      pointer-events: all;
      max-width: 235px;
      &__part {
        &--no-animation {
          display: flex;

          .left {
            width: 79px;
          }

          .right {
            width: 134px;
          }

          .overlay {
            width: 0;
            overflow: hidden;
            transition: 0.3s width;
          }

          &:hover {
            .overlay {
              width: 100%;
            }
          }
        }
        &--mobile {
          display: none;
        }
      }

      img {
        height: 100%;
        object-fit: contain;
      }

      @include media-below($bp-ld) {
        height: auto;
        &__part {
          &--mobile {
            display: block;
            img {
              max-width: 160px;
            }
          }
          &--no-animation {
            display: none;
          }
        }
      }
    }
    &__group {
      &--rt {
        width: 100%;
        max-width: 300px;
        height: 100%;
        @include flex(row, flex-end, center);

        @include media-below($bp-ld) {
          width: unset;
        }

        .langs {
          width: auto;
          height: 42px;
          border-radius: 20px;
          background-color: #313131;
          margin-right: 20px;
          pointer-events: all;

          @include media-below($bp-ld) {
            display: none;
          }

          &__list {
            padding: 0;
            margin: 0;
            @include flex(row, space-between, center);
            position: relative;
          }
          &__item {
            list-style: none;
            width: 37px;
            height: 37px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: none;
            padding: 0;
            margin: 0;
            border-radius: 50%;
            @include flex(row, center, center);
            z-index: 2;
            cursor: pointer;
            &.active {
              background-color: #8001f9;
              position: absolute;
              z-index: 1;
              transition: 0.5s;
            }
          }
          &.mobile {
            @include media-below($bp-ld) {
              display: block;
              width: auto;
              height: auto;
              .langs__item {
                border: 2px solid #fff;
                text-transform: uppercase;
                width: 30px;
                height: 30px;
                background: #000;
              }
            }
          }
        }
        .menu-btn {
          @include font(28px);
          background: none;
          border: none;
          padding: 0;
          pointer-events: all;
          outline: none;
          display: flex;

          @include media-below($bp-ld) {
            @include font(30px);
          }

          i {
            display: inline-flex;
          }
        }
      }
    }

}

.page-title {
  @include font(18px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: 0.3s;
  cursor: pointer;

  @include media-below($bp-ld) {
    @include font(28px);
    top: calc(50% + 45px);
    text-transform: none;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
  }
}
