@import 'variables';
@import 'mixins';

:host {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.7s all linear;
    overflow: hidden;

    &.hide {
        .lines {
            transform: translateX(100%);
        }
    }

}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: cover;
}

.lines {
    @include font(20px);
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s transform linear;

    .line {
        padding: 5px 15px;
        box-sizing: border-box;
    }

    @include media-above($bp-ld) {
        @include font(40px);
        top: 200px;
        left: 200px;
    }
}