@import "variables";
@import "mixins";

p {
  font-family: Lato;
}

.container{
  width: 100vw;
  height: 80vh;
  background-color: antiquewhite;
  display: block;
}

.thing{
  width: 40%;
  height: 88%;
  background-color: #777;
  text-align: center;
}