@import "variables";
@import "mixins";
@import "parts/services-item-page";

h1 {
  @include font(42px, 600);
  text-transform: uppercase;
}
.monetization {
  &_list {
    @include flex(row, space-between, center);
    width: 100%;
  }
  &_item {
    @include flex(row, center, center);
    width: 170px;
    height: 170px;
    position: relative;
    cursor: pointer;

    &:hover,
    &.active,
    &.mobile {
      .monetization_item-background {
        height: 100% !important;
      }

      .monetization_item-name {
        color: #fff !important;
      }
    }
    
    &-background {
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: 0.3s;
    }
    &-name {
      text-align: center;
      z-index: 1;
      @include font(14px, 800);
      line-height: 14px;
      text-transform: uppercase;
      transition: 0.3s;
    }
  }
}

@include media-below($bp-ld) {
  .service {
    &-container {
      height: auto;
      .order-btn-container {
        margin: 20px;
        a {
          margin: 0;
        }
      }
    }
    &-content {
      width: 100%;
      h1 {
        font-size: 16px;
      }
      .text {
        padding: 20px 20px 10px 20px;
      }
      .monetization {
        &_list {
          @include flex(column, center, center);
        }
      }
    }
  }
}

