<div class="service-container">
  <div class="service-content">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus accusantium obcaecati aliquam cupiditate temporibus delectus nihil rerum mollitia fugit ad reiciendis excepturi sint et voluptate dignissimos, molestias illo sed quae!</p>
  </div>
  <div class="order-btn-container">
    <a routerLink="/" class="order-btn" [style.backgroundColor]="orderBtnColor">Сделать заказ <i class="icon-arrow"></i></a>
  </div>
</div>