
<app-blog-list-layout>
  <div class="page-content">
    <div class="container">
      <div class="blog__list">
        <div class="blog__item" *ngFor="let item of blogList">
          <div class="blog__item-title" [routerLink]="[item?.slug]">{{item?.acf?.title_prev}}
            <img src="/assets/svg/arrow.svg" alt="">
          </div>
          <div class="blog__item-text">{{item?.acf?.desc_prev}}</div>
          <div class="blog__item-readmore"><a [routerLink]="[item?.slug]">{{'читать' | translate}} <img src="/assets/svg/arrow.svg" alt=""></a></div>
        </div>
      </div>
      <div class="blog__pagination" *ngIf="paginationPages.length > 1">
        <div
          class="blog__pagination-link"
          (click)="loadPaginationPage(i + 1)"
          *ngFor="let item of paginationPages; let i = index">{{i + 1}}</div>
      </div>
    </div>
  </div>
</app-blog-list-layout>
