
@import "variables";
@import "mixins";

$colors: #ee8028, #115bfa, #8104f9, #170e37, #085381, #15097f;
$list: 1, 2, 3, 4, 5, 6;
$group-size: 6;

@mixin colors(){
  @each $item in $list {
    $i: index($list, $item);
    &:nth-child(#{$group-size}n + #{$i}) {
      background-color: nth($colors, $i);
    }
  }
}

.page-content {
  height: $content-height--no-footer;
  margin-bottom: 0;
  @include media-below($bp-sm) {
    height: $content-height--no-footer-mob;
  }
}

.blog {
  &__list {
    @include flex(row, center, flex-start);
    width: 100%;
    height: calc(100% - 50px);
    &.desktop {
      display: flex;
    }
    &.mobile {
      display: none;
    }
  }
  &__item {
    width: 100%;
    max-width: 300px;
    height: calc(33% - 16px);
    min-height: 180px;
    border: 2px solid #fff;
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    overflow: hidden;
    @include colors();
    transition: .3s;
    &:hover {
      transition: .3s;
      color: #fff;
      background-color: #000;
      cursor: pointer;
    }
    &-title {
      font-family: "Open Sans Semi Bold";
      @include font(22px, 600);
      font-size: 125%;
      margin: 20px;
      margin-bottom: 0;
      img {
        display: none;
      }
    }
    &-text {
      font-family: "Open Sans Light";
      @include font(14px, 300);
      margin: 20px;
      margin-bottom: 0;
    }
    &-readmore {
      font-family: "DIN Alternate";
      @include font(13px, 700);
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 20px;
    }
    &-link-icon {
      display: none;
    }
  }
  &__pagination {
    width: 100%;
    height: 33px;
    font-family: "Open Sans";
    @include font(18px, 400);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-link {
      padding: 0px 5px;
      &:hover {
        cursor: pointer;
        color: #9b9b9b;
      }
    }
  }
  &__loadmore-btn {
    display: none;
  }
  @include media-below($bp-sm) {
    &__list {
      @include flex(column, flex-start, flex-start);
      height: auto;
      &.desktop {
        display: none;
      }
      &.mobile {
        display: flex;
      }
    }
    &__item {
      border-left: 0;
      border-right: 0;
      position: relative;
      width: 100%;
      height: 77px;
      max-width: unset;
      min-height: unset;
      margin: 0;
      img {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        width: 30px;
      }
      @include flex(row, flex-start, flex-start);
      &-title {
        margin: 0;
        max-width: 285px;
        @include font(14px, 600);
        line-height: 21px;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 25px;
      }
      &-text {
        display: none;
      }
      &-readmore {
        display: none;
      }
      &-link-icon {
        display: block;
      }
    }
    &__pagination {
      display: none;
    }
    &__loadmore-btn {
      display: block;
      text-transform: uppercase;
      background-color: #8001F9;
      padding: 10px;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 30px;
      border: unset;
      height: 44px;
      img {
        height: 30px;
        width: 34px;
      }
    }
  }
}
