<div>
  <div class="slogan">
    <div class="slogan__block">
      <span class="slogan__block-text">Впечетляем</span>
    </div>
    <div class="slogan__block red">
      <span class="slogan__block-text">Вовлекаем</span>
    </div>
    <div class="slogan__block">
      <span class="slogan__block-text">Продаем</span>
    </div>

    <a href="#" class="btn show-all">
      Узнать больше
      <i class="icon icon-arrow"></i>
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </a>
  </div>

  <div class="slide-figure" #animeObject>
    <div class="block block-1"></div>
    <div class="block block-2">NESTLE<br>Абетка<br>харчування</div>
    <div class="block block-3"></div>
    <div class="block block-4"></div>
    <div class="block block-5"></div>
    <div class="block block-6"></div>
    <div class="block block-7"><a href="#">Смотреть кейс</a></div>
    <img class="block-img" src="/assets/svg/slide-1.svg" alt="">
  </div>

</div>


<div class="test" #animeObject1></div>
<div class="test" #animeObject2></div>
