
@import "variables";
@import "mixins";

.slider {
  margin-top: -$header-height;

  @include media-below($bp-ld) {
    margin-top: 0;
  }
}

.slide {
  user-select: none;
}

.page-content {
  margin-bottom: 0;
  z-index: 1;
}
