
@import "variables";
@import "mixins";

.slider {
  margin-top: -$header-height;

  @include media-below($bp-ld) {
    margin-top: 0;
  }
}

.slide {
  user-select: none;
}

.page-content {
  margin-bottom: 0;
  z-index: 1;
}


.range {
  position: absolute;
  bottom: 15px;
  width: 100%;
  &-control {
    position: relative;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.35);
    width: 50%;
    height: 6px;
    border-radius: 5px;
    margin: 0 auto;
    .bar {
      position: absolute;
      top: 0;
      width: 0%;
      height: 6px;
      border-radius: 5px;
      background-color: #f1ae2d;
      z-index: 1;
      transition: 0.5s;
    }
    @include media-below($bp-ld) {
      display: none;
    }
  }
}
