<app-page-layout>
  <ng-container *ngIf="casePost?.length">
    <app-rush-slider
      class="slider"
      [config]="sliderConfig"
      (init)="sliderInit($event)"
      *ngIf="sliderLoad"
    >
      <app-rush-slide class="slide" *ngFor="let item of casePost">
        <ng-container [ngSwitch]="item?.template">
          <app-case-tpl-first *ngSwitchCase="'tpl1'" [data]="item[item?.template]" [slider]="slider"></app-case-tpl-first>
          <!-- <app-case-tpl-second  *ngSwitchCase="'case2'"></app-case-tpl-second>
                <app-cases-tpl-third  *ngSwitchCase="'case3'" [data]="casePost"></app-cases-tpl-third>
                <app-case-tpl-fourth  *ngSwitchCase="'case4'" [data]="casePost"></app-case-tpl-fourth>
                <app-case-tpl-fifth   *ngSwitchCase="'case5'" [data]="casePost"></app-case-tpl-fifth>
                <app-case-tpl-galery  *ngSwitchCase="'case6'" [data]="casePost"></app-case-tpl-galery>
                <app-case-tpl-seventh *ngSwitchCase="'case7'" [data]="casePost"></app-case-tpl-seventh> -->
          <app-case-tpl-mail *ngSwitchCase="'tpl6'" [data]="item[item?.template]"></app-case-tpl-mail>
          <app-case-tpl-mail-one-photo *ngSwitchCase="'tpl7'" [data]="item[item?.template]"></app-case-tpl-mail-one-photo>
        </ng-container>
      </app-rush-slide>
    </app-rush-slider>
  </ng-container>
</app-page-layout>
