
<app-blog-item-layout>
  <div class="page-top">
    <div class="container">
      <div class="page-top__title">
        <h1>{{blogPost?.acf?.title_detail}}</h1>
      </div>
      <div class="page-top__author">
        <div class="page-top__author-name">
          <div class="name">{{blogPost?.acf?.author_name}}</div>
          <div class="position">{{blogPost?.acf?.author_position}}</div>
        </div>
        <div class="page-top__author-img">
          <img [src]="blogPost?.acf?.author_photo?.url" alt="">
        </div>
      </div>
    </div>
  </div>



  <div class="page-content">
    <div class="container">
        <app-slider-text [html]="blogPost?.acf?.desc_detail"></app-slider-text>
    </div>
  </div>



</app-blog-item-layout>
